:root {
    --first: #50b0f0;
    --second: #99cef2;
    --third: #255270;
    --fourth: #476070;
    --fifth: #3e8abd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: istokWeb;
}

html {
    background-color: var(--first);
    display: flex;
    flex-direction: column;
}

/* Link Style */

div.links {
    width: 100%;
    height: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.links a {
    display: inline-block;
    margin: 20pt;
    color: var(--third);
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2pt;
    cursor: pointer;
}

div.links a.active {
    color: var(--fourth);
}

main {
    overflow: auto;
    position: relative;
    height: fit-content;
    display: grid;
    margin-top: 30pt;
    grid-template: repeat(2, auto) / auto;
    row-gap: 50pt;
}

div.display {
    width: 100%;
    height: fit-content;
    padding: 30pt;
    display: grid;
    grid-template: auto / repeat(4, auto);
    background-color: var(--third);
    justify-content: center;
    align-content: center;
}

div.display section {
    width: 200pt;
    height: fit-content;
    border-radius: 2rem;
    background-color: var(--second);
    padding: 20pt;
    margin: 20pt;
    justify-items: center;
    align-items: center;
}

div.link {
    text-align: center;
}

div.link h1 {
    font-size: 26px;
    color: var(--third);
}

div.link a {
    font-size: 18px;
    color: var(--fourth);
    text-decoration: none;
}

img {
    width: 100pt;
    height: 100pt;
    margin-left: 30pt;
}

@font-face {
    font-family: istokWeb;
    src: url(../fonts/IstokWeb-Regular.ttf);
}