:root {
    --first: #50b0f0;
    --second: #99cef2;
    --third: #255270;
    --fourth: #476070;
    --fifth: #3e8abd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--first);
    display: flex;
    flex-direction: column;
}

div.links {
    width: 100%;
    height: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.links a {
    display: inline-block;
    padding: 20pt;
    color: var(--third);
    text-decoration: none;
    font-size: 18px;
    letter-spacing: 2pt;
    cursor: pointer;
}

div.links a.active {
    color: var(--fourth);
}

main {
    overflow: auto;
    position: relative;
    height: fit-content;
    display: grid;
    margin-top: 30pt;
    grid-template: repeat(auto, 3) / auto;
    row-gap: 50pt;
}

div.display {
    width: 100%;
    height: fit-content;
    padding: 30pt;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    background-color: var(--third);
    justify-content: center;
    align-content: center;
}

div.display section {
    margin: 20pt;
}

div.link {
    text-align: center;
}

img {
    width: 100pt;
    height: 100pt;
}