:root {
    --first: #50b0f0;
    --second: #99cef2;
    --third: #255270;
    --fourth: #476070;
    --fifth: #3e8abd;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: var(--first);
}

main {
    overflow: auto;
    position: relative;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

div.display {
    width: 100%;
    height: 45pt;
    background-color: var(--third);
}