::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #fff;
}

::-webkit-scrollbar-thumb {
    background: #99cef2;
}

::-webkit-scrollbar-thumb:hover {
    background: #255270;
}