:root {
    --first: #50b0f0;
    --second: #99cef2;
    --third: #255270;
    --fourth: #476070;
    --fifth: #3e8abd;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: istokWeb;
}

html {
    background-color: var(--first);
}

body {
    display: flex;
    flex-direction: column;
}

/* Main Style */

main {
    display: flex;
    flex-direction: row;
}

main div.title {
    background-color: var(--third);
    width: 70%;
    height: 145px;
    padding: 10pt;
}

main div.title h1 {
    color: var(--second);
    font-size: 38px;
    text-align: center;
    letter-spacing: 2pt;
    padding-top: 20pt;
}

main div.title p {
    font-size: 18px;
    text-align: center;
    color: var(--second);
}

main div.info {
    background-color: var(--second);
    width: 30%;
    height: 145px;
    display: flex;
    flex-direction: column;
}

div.title, div.info {
    justify-content: space-evenly;
    align-items: center;
}

div.info img {
    width: 80pt;
    height: 80pt;
    align-self: center;
    margin-top: 40pt;
}

div.side {
    width: 100pt;
    height: 20pt;
    display: grid;
    grid-template: auto / repeat(2, auto);
    column-gap: 20pt;
    justify-content: center;
}

div.side p {
    width: 120pt;
    font-size: 18px;
    background-color: var(--fourth);
    border-radius: 8rem;
    color: var(--fifth);
    text-align: center;
    align-self: center;
    cursor: pointer;
}

div.side p:hover {
    color: var(--second);
}

/* Link Style */

div.links {
    width: 100%;
    height: 40pt;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.links a {
    display: inline-block;
    margin: 20pt;
    color: var(--third);
    text-decoration: none;
    font-size: 22px;
    letter-spacing: 2pt;
    cursor: pointer;
}

div.links a:hover {
    animation-name: highlightLink;
    animation-duration: 0.8s;
    color: var(--second);
}

div.links a.active, div.links a.active:hover {
    color: var(--fourth);
}

.rectangle {
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 10pt;
}

.rectangle h2 {
    color: var(--fourth);
    font-size: 32px;
    font-family: istokBold;
}

form {
    justify-content: space-evenly;
    align-items: start;
}

label {
    font-size: 18px;
    color: var(--third);
}

/* Button Properties */

div.button {
    background-color: var(--fourth);
    width: 200px;
    height: 80px;
    padding: 0.2em;
    justify-items: center;
    border: 2px solid var(--fifth);
    border-radius: 2rem;
}

div.button p {
    color: var(--fifth);
    -webkit-text-stroke-width: 0.2px;
    -webkit-text-stroke-color: var(--second);
    font-size: 34px;
    text-align: center;
    padding-top: 10pt;
}

@font-face {
    font-family: istokWeb;
    src: url(../fonts/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: istokBold;
    src: url(../fonts/IstokWeb-Bold.ttf);
}